In [6]:
import random
import pandas as pd

age = list(range(20, 51, 5))

gender = ['M', 'F']
qualification = ['B-Tech', 'BSc', 'BA']

data_dict = {
    'Age': random.choices(age, k=100),
    'Gender': random.choices(gender, k=100),
    'Qualification': random.choices(qualification, k=100)
}

df = pd.DataFrame(data_dict)

num_unique_gender = df['Gender'].nunique()
num_unique_qualification = df['Qualification'].nunique()

print("Gender:", num_unique_gender)
print("Qualification:", num_unique_qualification)

Gender: 2
Qualification: 3

In [14]:
dice = [1,2,3,4,5,6]
print(random.choices(dice))

[1]

In [15]:
df

    Age Gender Qualification
0    50      M           BSc
1    40      M            BA
2    40      M            BA
3    50      M        B-Tech
4    30      M        B-Tech
..  ...    ...           ...
95   30      M           BSc
96   20      F           BSc
97   35      F        B-Tech
98   35      F           BSc
99   25      F            BA

[100 rows x 3 columns]